*{
    padding: 0;
    margin: 0;
    font-family: rockwell;

}

.container{
 

    border-top: 6px solid rgb(1, 17, 75);
    width: 360px;
    height: 400px;
    margin:10%  auto;
    background: #f2f2f2;
    border-radius: 6px;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    

}

.error{
    color: red;
    margin-left: 20%;
}
h3{
    text-align: center;
    margin-bottom: 40px;
    color: #777;
}
.container #form1, #form2{
    width: 280px;
    position: absolute;
    top: 50px;
    left: 40px;
    transition: 0.5s;
}
.text{
    text-align: center;
    margin-bottom: 30px;

}
form input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom:1px solid #999;
    outline: none;
    background: transparent;
}
::placeholder{
    color: #777;
}
.btn_box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
#form1 button, #form2 button{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right,#ff105f,rgb(1, 17, 75));
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
}
#form3 , #form2{
    left: 450px;
}

/*.step_Row{
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
}
.step_col{
    width: 120px;
    text-align: center;
    position: relative;
    color: #333;
}
 #progress{
    position: flex;
    height: 40px;
    width: 50%;
    background-color: whitesmoke;
    background: linear-gradient(to right, #ff105f, rgb(1, 17, 75));
    transition: 1s;
}
#pogress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #ffad06;

}*/
